<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/minireset.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/style.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% if config.get("DEBUG", False) %}
        <script src="static/js/libs/vue.js"></script>
    {% else %}
        <script src="static/js/libs/vue.min.js"></script>
    {% endif %}
    <script src="static/js/libs/vue-router.js"></script>
    <script language="JavaScript" type="text/javascript"
      src="https://kjur.github.io/jsrsasign/jsrsasign-latest-all-min.js">
    </script>
    <!-- defer sorgt dafür, dass die scripte erst nach Aufbau des Doms ausgeführt werden.
        Die Reihenfolge, in der die Scripte eingebunden werden ist trotzdem wichtig!
    -->
    <script src='/static/js/utils.js' defer></script>
    <script src='/static/js/api-client.js' defer></script>
    <script src='/static/js/components/login.js' defer></script>
    <script src='/static/js/components/navigation.js' defer></script>
    <script src='/static/js/components/registration.js' defer></script>
    <script src='/static/js/components/user-editor.js' defer></script>
    <script src='/static/js/components/user-table.js' defer></script>
    <script src='/static/js/components/admin-panel.js' defer></script>
    <script src='/static/js/components/create.js' defer></script>
    <script src='/static/js/components/feed.js' defer></script>
    <script src='/static/js/components/message.js' defer></script>
    <script src='/static/js/components/search-bar.js' defer></script>
    <script src='/static/js/components/post-editor.js' defer></script>
  	<script src='/static/js/components/post.js' defer></script>
    <script src='/static/js/components/user.js' defer></script>
    <script src='/static/js/components/search-results.js' defer></script>
    <script src='/static/js/app.js' defer></script>

</head>

<body>
  <div id='vue-app'>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

</body>

</html>
